.Pokecard {
  background-color: lightgrey;
  text-align: center;
  width: 170px;
  padding: 20px 0px;
  margin: 10px;
  border-radius: 10px;
  transform: translate(-1000px, 0px);
  animation: slidein 3s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {transform: translate(-1000px, 0px);}
  to {transform: translate(0px, 0px);}
}

.Pokecard h4 {
  color: blue;
  margin: 0px;
}

.Pokecard p {
  margin: 0px;
}